<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{250,144}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>bird_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{232,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{232,142}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>bird_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{232,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{232,144}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bird_frames.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0615e7fdd2cbc74e5d60efc7688144c9:1/1$</string>
            <key>textureFileName</key>
            <string>bird_frames.png</string>
        </dict>
    </dict>
</plist>
