<plist version="1.0">
	<dict>
	  <key>animations</key>
    <dict>
      <key>helicopter_flying</key>
      <dict>
        <key>delayPerUnit</key>
        <real>0.2</real>
        <key>restoreOriginalFrame</key>
        <false/>
        <key>loops</key>
        <integer>1</integer>
        <key>frames</key>
        <array>
          <dict>
            <key>spriteframe</key>
            <string>helicopter_02.png</string>
            <key>delayUnits</key>
            <real>1</real>
          </dict>
          <dict>
            <key>spriteframe</key>
            <string>helicopter_04.png</string>
            <key>delayUnits</key>
            <real>1</real>
          </dict>

        </array>
      </dict>
    </dict>
    <key>properties</key>
    <dict>
      <key>spritesheets</key>
      <array>
        <string>helicopter_frames.plist</string>
      </array>
      <key>format</key>
      <integer>2</integer>
    </dict>
	</dict>
</plist>